body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #7d0633;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  z-index: 1;
  position: relative;
}

h2 {
  color: #4e89ae;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #4e89ae;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
  color: #0f1e27;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #4e89ae;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.big-title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.avatar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.skills {
  background-color: #ecf4f3;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.top-container {
  background-color: #ecf4f3;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}


.middle-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.bottom-container {
  background-color: #ecf4f3;
  padding: 50px 0 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
  color: #0f1e27;
  font-family: 'Montserrat', sans-serif;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.react-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.game-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#4e89ae;
  font-family: 'Montserrat', sans-serif;
	font-size:18px;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.btn:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.btn:active {
	position:relative;
	top:1px;
}

/* Navigation Bar */

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #4e89ae;
  z-index: 2;
  position:relative;
}



